{% extends 'vivo/layout/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/firsthome1.css' %}">

        <div class="over">
        <p class="flax2_p3">ZEISS Telephoto Camera </p>
        <p class="camera_text1">The World in Ultra Focus</p>
        <p class="flax2_p">With a 50MP11 ultra-clear sensor and advanced telephoto system, ZEISS Telephoto</p>
        <p class="flax2_p">Camera captures every detail, from distant landscapes to close-ups, in stunning</p>
        <p class="flax2_p">clarity.</p>
        <img src="{% static 'images/firstimg2.2.webp'%}" alt="vivo" class="first">
        </div>
        
         <div class="last"> 
                  <div class="last1">
                    <div class="last-div">
                    <h5>Popular Links</h5>
                    <p>X300 Pro</p>
                    <p>X300</p>
                    <p>V60</p>
                    <p>V60e</p>
                    <p>T4x 5G</p>
                    <p>vivo ZEISS co-engineered</p>
                    <p>vivo Exclusive store<br>
                    <span>Imaging</span>
                    </p>
                    </div>
                    <div>
                    <h5>Purchase Online</h5>
                    <p>E-store</p>
                    <p>Buy phones</p>
                    <p>Buy accessories</p>
                    <p>My orders</p>
                    <p>Privacy Terms for E-Store</p>
                    <p>Payment Terms and <br>
                        <span>Policies</span>
                    </p>
                    </div>
                    <div>
                    <h5>Support</h5>
                    <p>FAQs</p>
                    <p>Service Center</p>
                    <p>Funtouch OS</p>
                    <p>IMEI Authentication</p>
                    <p>Query of Spare Parts Price</p>
                    <p>System Update</p>
                    <p>Write to CEO</p>
                    <p>Privacy Statement for<br><span> Customer Service </span></p>
                    <p>Download LUTs for <br> <span>Restoring Log</span> </p>
                    </div>
                    <div>
                    <div>
                    <h5>About vivo</h5>
                    <p>E-waste Management</p>
                    <p>Careers at vivo</p>
                    <p>Terms and Condititons</p>
                    <p>Investor Information</p>
                    <p>Equal Opportunity Policy</p>
                    <p>About Us</p>
                    <p>Newsroom</p>
                    <p>Privacy Policy</p>
                    </div>
                    </div>
                     <div>
                    <div>
                    <h6 style="color: white;">📞24*7</h6>
                    <h4>1800-208-3388</h4>

                    <h6 style="color: white; margin-top:30px">📞 24*7</h6>
                    <h4>1800-102-3388</h4>

                    <h6 style="color: white; margin-top:30px">📞 24*7(Only for X-Series Customers)</h6>
                    <h4>1800-208-448</h4>

                    <!-- <h5 style="margin-top:30px"><i class="fa-brands fa-whatsapp"></i>whatsapp (24*7)</h5>
                    <h5 style="margin-top:30px"><i class="fa-sharp fa-thin fa-envelope"></i>Email us (Reply in 24h)</h5>
                    <h5 style="margin-top:30px"><i class="fa-brands fa-rocketchat"></i>Chat with us (9 AM - 6PM)</h5> -->

                    <div class="icons">
                        <div>
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div>
                           <i class="fa-brands fa-youtube"></i>
                        </div>
                        <div>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-inbox"></i>
                        </div>
                    </div>
                    </div>
                    </div>
                  </div>
           </div>
         
           <div class="one_last">
            <p>Our site uses cookies to improve your experience. By continuing to use site, you agree to our <a href="">Cookie Policy</a>and <a href="">Privacy Policy</a>.</p>
           </div>
      </div>
    </div>
        
{% endblock %}
