{% extends 'vivo/layout/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/newpage.css' %}">
<div class="first">
    <div class="img">
        <img src="{% static 'images/new.jpg' %}"alt="vivo shop" class="img">
    </div>
     <div class="img1">
        <img src="{% static 'images/new1.webp' %}"alt="vivo shop" class="img">
    </div>
    <div class="img1">
        <img src="{% static 'images/new2.webp' %}"alt="vivo shop" class="img">
    </div>
    <div class="img1">
        <img src="{% static 'images/new3.webp' %}"alt="vivo shop" class="img">
    </div>
     <div class="img1">
        <img src="{% static 'images/new4.webp' %}"alt="vivo shop" class="img">
    </div>
     <div class="img1">
        <img src="{% static 'images/new5.webp' %}"alt="vivo shop" class="img">
    </div>


     <div class="main_kalaver">
                <div class="kalaver">
                    <img src="{% static 'images/421d457aec90f2f9d76adad9e3cb3758.jpg.webp'%}" alt="vivo" class="kalaver-img">
                    <h5 class="kalaver-text">15 Days Price Guarantee</h5>
                </div>
                <div class="kalaver">
                    <img src="{% static 'images/EMI 3f4ab8a057566701ab7bd37a06dc1175.jpg'%}" alt="vivo" class="kalaver-img">
                    <h5 class="kalaver-text">No Cost EMI</h5>
                </div>
                <div class="kalaver">
                    <img src="{% static 'images/hart 4dd5b505722e8542dea9ae90dc2c788e.jpg'%}" alt="vivo" class="kalaver-img">
                    <h5 class="kalaver-text">Free Shipping on orders<br>above Rs.500</h5>
                </div>
                 <div class="kalaver">
                    <img src="{% static 'images/secure e93d281247943fd86d0bc6024b9caaec.jpg'%}" alt="vivo" class="kalaver-img">
                    <h5 class="kalaver-text">100% Secure Payments</h5>
                </div>
                <div class="kalaver">
                    <img src="{% static 'images/hart 4dd5b505722e8542dea9ae90dc2c788e.jpg'%}" alt="vivo" class="kalaver-img">
                    <h5 class="kalaver-text">24*7 Service Support</h5>
                </div>
     </div>
      <div class="last"> 
                  <div class="last1">
                    <div class="last-div">
                    <h5>Popular Links</h5>
                    <p>X300 Pro</p>
                    <p>X300</p>
                    <p>V60</p>
                    <p>V60e</p>
                    <p>T4x 5G</p>
                    <p>vivo ZEISS co-engineered</p>
                    <p>vivo Exclusive store<br>
                    <span>Imaging</span>
                    </p>
                    </div>
                    <div>
                    <h5>Purchase Online</h5>
                    <p>E-store</p>
                    <p>Buy phones</p>
                    <p>Buy accessories</p>
                    <p>My orders</p>
                    <p>Privacy Terms for E-Store</p>
                    <p>Payment Terms and <br>
                        <span>Policies</span>
                    </p>
                    </div>
                    <div>
                    <h5>Support</h5>
                    <p>FAQs</p>
                    <p>Service Center</p>
                    <p>Funtouch OS</p>
                    <p>IMEI Authentication</p>
                    <p>Query of Spare Parts Price</p>
                    <p>System Update</p>
                    <p>Write to CEO</p>
                    <p>Privacy Statement for<br><span> Customer Service </span></p>
                    <p>Download LUTs for <br> <span>Restoring Log</span> </p>
                    </div>
                    <div>
                    <div>
                    <h5>About vivo</h5>
                    <p>E-waste Management</p>
                    <p>Careers at vivo</p>
                    <p>Terms and Condititons</p>
                    <p>Investor Information</p>
                    <p>Equal Opportunity Policy</p>
                    <p>About Us</p>
                    <p>Newsroom</p>
                    <p>Privacy Policy</p>
                    </div>
                    </div>
                     <div>
                    <div>
                    <h6 style="color: white;">📞24*7</h6>
                    <h4>1800-208-3388</h4>

                    <h6 style="color: white; margin-top:30px">📞 24*7</h6>
                    <h4>1800-102-3388</h4>

                    <h6 style="color: white; margin-top:30px">📞 24*7(Only for X-Series Customers)</h6>
                    <h4>1800-208-448</h4>

                    <!-- <h5 style="margin-top:30px"><i class="fa-brands fa-whatsapp"></i>whatsapp (24*7)</h5>
                    <h5 style="margin-top:30px"><i class="fa-sharp fa-thin fa-envelope"></i>Email us (Reply in 24h)</h5>
                    <h5 style="margin-top:30px"><i class="fa-brands fa-rocketchat"></i>Chat with us (9 AM - 6PM)</h5> -->

                    <div class="icons">
                        <div>
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div>
                           <i class="fa-brands fa-youtube"></i>
                        </div>
                        <div>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-inbox"></i>
                        </div>
                    </div>
                    </div>
                    </div>
                  </div>
           </div>
         
           <div class="one_last">
            <p>Our site uses cookies to improve your experience. By continuing to use site, you agree to our <a href="">Cookie Policy</a>and <a href="">Privacy Policy</a>.</p>
    </div>+




















</div>












{% endblock %}