{% extends 'vivo/layout/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/shophome1.css' %}">
<div> 
    <div class="over">
      <div class="one">
        <img src="{% static 'images/shopimg11.1.webp' %}"alt="vivo shop" class="img1">
      </div>
      <div class="two">
        <h3>X300 Pro 16GB+512GB Dune Gold</h3>
        <div class="flex">
          <div>
              <ul>
                 <li>200MP ZEISS APO Telephoto Camera</li>
                 <li>  Telephoto Bird Shots</li>
              </ul>
         </div>
         <div>
             <ul>
                <li>    4K 120 fps Dolby Vision Video</li>
                <li>    All-new OriginOS 6</li>
             </ul>
         </div>
        </div>
           <div>
              <h1>₹109,999.00</h1>
           </div>
           <div>
            <p class="light">MRP (incl.of all taxes):<del>  ₹119,999.00<del></p> 
           </div>
           <div class="code"></div>
           <div class="over">
             <div class="text">
                <h3>Offer</h3>
             </div>
            <div class="text">
                <h4><span class="span">No cost EMI</span> From<span class="span"> ₹3,500/</span>mo.</h4>
                <h4>🔄 Up to ₹4500 Exchange Bonus</h4>
                <h4>🏷️ Alert! MRP Adjustment Policy</h4>
                <h4>🏷️ Get Video Assistance Now</h4>
                <h4>🏷️ Order Limitation Policy</h4>
                <h4>🏷️ 15 Days Replacement Policy</h4>
             </div>
           </div>
      </div>
    </div>
 <div>
    <h2 class="specificar">Specification</h2>
    <h4 class="specificar1">Key feature</h4>
   <div class="flex">
    <div>
    <h5 class="specificar1">Processor</h5>
    <h5 class="specificar1">RAM</h5>
    <h5 class="specificar1">Storage</h5>
    <h5 class="specificar1">Battery</h5>
    <h5 class="specificar1">Fast Charging</h5>
    <h5 class="specificar1">Fingerprint Sensor</h5>
    <h5 class="specificar1">Color</h5>
    <h5 class="specificar1">Operating System</h5>
    </div>
    <div>
    <h5 class="specificar1">Snapdragon® 7 Gen 4</h5>
    <h5 class="specificar1">8GB | 12GB</h5>
    <h5 class="specificar1">256 GB </h5>
    <h5 class="specificar1">6500 mAh (TYP)</h5>
    <h5 class="specificar1">90W</h5>
    <h5 class="specificar1">3D ultrasonic fingerprint sensor</h5>
    <h5 class="specificar1">Authentic Black | Sand Beige (only with 8 GB + 256 GB & 12 GB + 256 GB variant) | Passion Red</h5>
    <h5 class="specificar1">OriginOS 6</h5>
    </div>
   </div> 

    <h4 class="specificar11">DISPLAY</h4>
   <div class="flex">
    <div>
    <h5 class="specificar1">Size</h5>
    <h5 class="specificar1">Resolution</h5>
    <h5 class="specificar1">Type</h5>
    <h5 class="specificar1">Touch Screen</h5>
    </div>
    <div>
    <h5 class="specificar1">16.74 cm (6.59 inches)</h5>
    <h5 class="specificar1">2750 × 1260</h5>
    <h5 class="specificar1">AMOLED</h5>
    <h5 class="specificar1">Capacitive multi-touch</h5>
    </div>
   </div> 
   <h4 class="specificar11">CAMERA</h4>
   <div class="flex">
    <div>
    <h5 class="specificar2">Camera</h5>
    <h5 class="specificar2">Aperture</h5>
    <h5 class="specificar2">Flash</h5>
    <h5 class="specificar2">Scene Modes</h5>
    </div>
    <div>
    <h5 class="specificar1">
Rear camera: 200 MP OIS ultra-clear main camera: supports AF, f/1.88; a FOV of 84°; 6P lens 8 MP 120° wide-angle camera: supports FF, f/2.2; a FOV of 120°; 5P lens | Front camera: 50 MP HD selfie camera: supports AF, f/2.0; a FOV of 92°; 5P lens</h5>
    <h5 class="specificar1">
Rear f/1.88 (200 MP OIS rear main camera), Rear f/2.2 (8 MP wide-angle camera) | Front f/2.0 (50 MP front main camera)</h5>
    <h5 class="specificar1">
Rear flash supported</h5>
    <h5 class="specificar1">
Rear main camera: Photo, Portrait, Night, Video, Micro Movie, High Resolution, Pano, Ultra HD Document, Slo-mo, Time-lapse, Super Moon, Pro, Food, Underwater Photography, Dual View, Film Camera Rear wide-angle camera: Photo, Night, Video, Time-lapse, Underwater Photography | Front camera: Photo, Portrait, Night, Video, Micro Movie, High Resolution, Dual View, Film Camera</h5>
    </div>
   </div> 

    <h4 class="specificar11">NETWORK</h4>
   <div class="flex">
    <div>
    <h5 class="specificar1">3G WCDMA</h5>
    <h5 class="specificar1">4G FDD-LTE</h5>
    <h5 class="specificar1">4G TDD-LTE</h5>
    <h5 class="specificar1">5G NR band </h5>
    </div>
    <div>
    <h5 class="specificar1">2 nano SIMs</h5>
    <h5 class="specificar1">5G + 5G Dual SIM Dual Standby</h5>
    <h5 class="specificar1">850/900/1800 MHz</h5>
    <h5 class="specificar1">B1/B5/B8 </h5>
    </div>
   </div> 



   <div>
    <img src="{% static 'images/lastshop.webp' %}"alt="vivo shop" class="img2">
   </div>



   <div class="last"> 
                  <div class="last1">
                    <div class="last-div">
                    <h5>Popular Links</h5>
                    <p>X300 Pro</p>
                    <p>X300</p>
                    <p>V60</p>
                    <p>V60e</p>
                    <p>T4x 5G</p>
                    <p>vivo ZEISS co-engineered</p>
                    <p>vivo Exclusive store<br>
                    <span>Imaging</span>
                    </p>
                    </div>
                    <div>
                    <h5>Purchase Online</h5>
                    <p>E-store</p>
                    <p>Buy phones</p>
                    <p>Buy accessories</p>
                    <p>My orders</p>
                    <p>Privacy Terms for E-Store</p>
                    <p>Payment Terms and <br>
                        <span>Policies</span>
                    </p>
                    </div>
                    <div>
                    <h5>Support</h5>
                    <p>FAQs</p>
                    <p>Service Center</p>
                    <p>Funtouch OS</p>
                    <p>IMEI Authentication</p>
                    <p>Query of Spare Parts Price</p>
                    <p>System Update</p>
                    <p>Write to CEO</p>
                    <p>Privacy Statement for<br><span> Customer Service </span></p>
                    <p>Download LUTs for <br> <span>Restoring Log</span> </p>
                    </div>
                    <div>
                    <div>
                    <h5>About vivo</h5>
                    <p>E-waste Management</p>
                    <p>Careers at vivo</p>
                    <p>Terms and Condititons</p>
                    <p>Investor Information</p>
                    <p>Equal Opportunity Policy</p>
                    <p>About Us</p>
                    <p>Newsroom</p>
                    <p>Privacy Policy</p>
                    </div>
                    </div>
                     <div>
                    <div>
                    <h6 style="color: white;">📞24*7</h6>
                    <h4>1800-208-3388</h4>

                    <h6 style="color: white; margin-top:30px">📞 24*7</h6>
                    <h4>1800-102-3388</h4>

                    <h6 style="color: white; margin-top:30px">📞 24*7(Only for X-Series Customers)</h6>
                    <h4>1800-208-448</h4>

                    <!-- <h5 style="margin-top:30px"><i class="fa-brands fa-whatsapp"></i>whatsapp (24*7)</h5>
                    <h5 style="margin-top:30px"><i class="fa-sharp fa-thin fa-envelope"></i>Email us (Reply in 24h)</h5>
                    <h5 style="margin-top:30px"><i class="fa-brands fa-rocketchat"></i>Chat with us (9 AM - 6PM)</h5> -->

                    <div class="icons">
                        <div>
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>
                        <div>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                        <div>
                           <i class="fa-brands fa-youtube"></i>
                        </div>
                        <div>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-inbox"></i>
                        </div>
                    </div>
                    </div>
                    </div>
                  </div>
           </div>
         
           <div class="one_last">
            <p>Our site uses cookies to improve your experience. By continuing to use site, you agree to our <a href="">Cookie Policy</a>and <a href="">Privacy Policy</a>.</p>
           </div>








    







 </div>









</div> 
{% endblock %}
