{% extends 'vivo/layout/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/smartphone.css' %}">

    <div>
        <div>
            <img src="{% static 'images/smart-phone b622f9b1bd389bb93007a5fc8c30245c.jpg'%}" alt="vivo" class="first">
        </div>
    </div>


     <div class="main_phone">
        <div class="one_phone">
             <div>
                <img src="{%static 'images/vivo-v70 51gBpDZ9qAL.-SL1500-.avif'%}" alt="vivo" class="vivo_v70">
             </div>
                <div class="main2-phone">
                    <h5>Vivo V70 Elite(Passion Red 2026,512GB)</h5>
                    <button class="btn btn-success " style="color:white;">4.5  ⭐</button>
                    <div style="margin-top: 30px;">
                       <p>.12 GB RAM | 512 GB  ROM</p>
                       <p> 16.74 cm (6.59 inches) Full HD + <br>AMOLED Display</p>
                       <p>.50MP + 50MP + 8MP | 50MP Front <br>Camera</p>
                       <p>.6500 mAh Li-ion battery Battery</p>
                       <p>.Snapdragon 8s Gen 3 Processor</p>
                       <p>1 Year Warranty on Handset and 6 Months Warrannty on Accessories</p>
          </div>
                </div>
                <div>
                    <div class="fa-cl mb-5">
                    <h2>₹61,999</h2>
                    <img src="{%static 'images/fa_9e47c1.png'%}" alt="vivo" class="flipkart">
                    </div>
                    <div>
                        <p><del>₹1,05,999</del> <span class="flip">41% off</span></p>
                        <h6>Upto ₹43,650 Off on Exchange</h6>
                        <span class="flip">Bank Offer</span>
                        <div>
                           <a href="{% url 'order' %}" class="btn btn-success ps-5 pe-5">Buy</a>
                        </div>
                    </div>
                </div>
                
          </div>   

{% comment %} 
          <div class="main_phone">
        <div class="one_phone">
             <div>
                <img src="{% static 'images/vivo-v70 51gBpDZ9qAL.-SL1500-.avif'%}" alt="vivo" class="vivo_v70">
             </div>
                <div class="main2-phone">
                    <h5>Vivo V70 Elite(Passion Red 2026,512GB)</h5>
                    <button class="btn btn-success " style="color:white;">4.5  ⭐</button>
                    <div style="margin-top: 30px;">
                       <p>.12 GB RAM | 512 GB  ROM</p>
                       <p> 16.74 cm (6.59 inches) Full HD + <br>AMOLED Display</p>
                       <p>.50MP + 50MP + 8MP | 50MP Front <br>Camera</p>
                       <p>.6500 mAh Li-ion battery Battery</p>
                       <p>.Snapdragon 8s Gen 3 Processor</p>
                       <p>1 Year Warranty on Handset and 6 Months Warrannty on Accessories</p>
          </div>
                </div>
                <div>
                    <div class="fa-cl">
                    <h2>₹61,999</h2>
                    <img src="{% static 'images/fa_9e47c1.png'%}" alt="vivo" class="flipkart">
                    </div>
                    <div>
                        <p><del>₹1,05,999</del> <span class="flip">41% off</span></p>
                        <h6>Upto ₹43,650 Off on Exchange</h6>
                        <span class="flip">Bank Offer</span>
                        <div>
                        <button class="btn btn-success pe-5 ps-5 mt-5 overall">Buy</button>
                        </div>
                    </div>
                </div>
          </div>


          <div class="main_phone">
        <div class="one_phone">
             <div>
                <img src="{%static 'images/vivo-v70 51gBpDZ9qAL.-SL1500-.avif'%}" alt="vivo" class="vivo_v70">
             </div>
                <div class="main2-phone">
                    <h5>Vivo V70 Elite(Passion Red 2026,512GB)</h5>
                    <button class="btn btn-success " style="color:white;">4.5  ⭐</button>
                    <div style="margin-top: 30px;">
                       <p>.12 GB RAM | 512 GB  ROM</p>
                       <p> 16.74 cm (6.59 inches) Full HD + <br>AMOLED Display</p>
                       <p>.50MP + 50MP + 8MP | 50MP Front <br>Camera</p>
                       <p>.6500 mAh Li-ion battery Battery</p>
                       <p>.Snapdragon 8s Gen 3 Processor</p>
                       <p>1 Year Warranty on Handset and 6 Months Warrannty on Accessories</p>
          </div>
                </div>
                <div>
                    <div class="fa-cl">
                    <h2>₹61,999</h2>
                    <img src="{%static 'images/fa_9e47c1.png" alt="vivo'%}" class="flipkart">
                    </div>
                    <div>
                        <p><del>₹1,05,999</del> <span class="flip">41% off</span></p>
                        <h6>Upto ₹43,650 Off on Exchange</h6>
                        <span class="flip">Bank Offer</span>
                        <div>
                        <button class="btn btn-success pe-5 ps-5 mt-5 overall">Buy</button>
                        </div>
                    </div>
                </div>          
          </div>

        <div class="main_phone">
        <div class="one_phone">
             <div>
                <img src="{%static 'images/vivo-v70 51gBpDZ9qAL.-SL1500-.avif'%}" alt="vivo" class="vivo_v70">
             </div>
                <div class="main2-phone">
                    <h5>Vivo V70 Elite(Passion Red 2026,512GB)</h5>
                    <button class="btn btn-success " style="color:white;">4.5  ⭐</button>
                    <div style="margin-top: 30px;">
                       <p>.12 GB RAM | 512 GB  ROM</p>
                       <p> 16.74 cm (6.59 inches) Full HD + <br>AMOLED Display</p>
                       <p>.50MP + 50MP + 8MP | 50MP Front <br>Camera</p>
                       <p>.6500 mAh Li-ion battery Battery</p>
                       <p>.Snapdragon 8s Gen 3 Processor</p>
                       <p>1 Year Warranty on Handset and 6 Months Warrannty on Accessories</p>
          </div>
                </div>
                <div>
                    <div class="fa-cl">
                    <h2>₹61,999</h2>
                    <img src="{%static 'images/fa_9e47c1.png'%}" alt="vivo" class="flipkart">
                    </div>
                    <div>
                        <p><del>₹1,05,999</del> <span class="flip">41% off</span></p>
                        <h6>Upto ₹43,650 Off on Exchange</h6>
                        <span class="flip">Bank Offer</span>
                        <div>
                           <a href="{% url 'order' %}" class="btn btn-success">Buy</a>
                        </div>
                    </div>
                </div>
                
          </div> {% endcomment %}  
    </div> 

<script src="{% static 'js/smartphone.js' %}"></script>

{% endblock %}



