{% extends 'vivo/layout/main.html' %}
{% load static %}
{% block content %}
{% comment %} <img src="{% static 'images/1_vivo 1.webp' %}" alt="Vivo Phone"> {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'project.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Vivo</title>
</head>
<body>
 {% comment %} <div>
        <div>
            <img src="./images/first 1 a9dafba0-0e04-409e-bf40-284fbf8257b8.jpg" alt="vivo" class="first">
            {% load static %}
        <img src="{% static 'images/Y39_vivo.webp' %}" alt="Vivo Phone" width="300"> 
        </div>
    </div> {% endcomment %}

{% endblock %}